@import url('https://googleapis.com');

:root {
    --test-border: 3px solid black;
    --nav-height: 3rem;
}

body{
    margin: 0;
    font-family: 'Roboto'
}

.app-layout{
    display: grid;
    grid-template-rows: auto 1fr;
}


nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: var(--nav-height);
    position: sticky;
    top: 0;
    z-index: 20;
    background: white;
    border: var(--test-border)
}

a,
a:visited {
    text-decoration: none;
    font-size: 1.5rem;
}

.card-display-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 12px
}

.card-thumbnail {
  width: 200px;
  aspect-ratio: 5 / 7;
  object-fit: cover;
}

.card-page-layout {
  display: grid;
  grid-template-columns: 320px 1fr;
  align-items: start;
  gap: 12px;
}

.card-page-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: var(--test-border);
  position: sticky;
  top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  z-index: 10;
  background: white;
}

.card-page-image {
    width: 200px;
    padding: 10px;
    border: var(--test-border)
}

.card-text-info{
    display: flex;
    flex-direction: column;
}

.card-name{
    font-size: 3rem;
    font-weight: bold;
}

.synergies-section {
  display: flex;
  flex-direction: column;
}

.filters-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: var(--nav-height);
    z-index: 15;
    background: white;
}

.filter-button{
  width: fit-content;
  height: fit-content;
}

.ink-buttons-container{
    display: flex;
    gap: 5px;
}

.ink-buttons-container > *:hover{
    cursor: pointer;
}

.ink-buttons-container > .selected{
    background-color: red;
}

.ink-icon {
  width: 50px;
  height: auto;
}

.filter-button.selected {
  background-color: #333;
  color: white;
}
