@import url('https://googleapis.com');

:root {
    --test-border: 3px solid black;
}

body{
    font-family: 'Roboto'
}

.app-layout{
    display: grid;
    grid-template-columns: 220px 1fr;
}


nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    border: var(--test-border)
}

a,
a:visited {
    text-decoration: none;
}

.card-display-container{
    display: grid;
}

.card-thumbnail {
    width: 100px;
}

.card-page-info-container{
    display: flex;
    padding: 10px;
    border: var(--test-border)
}

.card-page-image {
    width: 200px;
    padding: 10px;
    border: var(--test-border)
}

.card-text-info{
    display: flex;
    flex-direction: column;
}

.card-name{
    font-size: 3rem;
    font-weight: bold;
}